.TopContainer {
  background-color: #99FEFF;
  padding-top: 150px;
  position: relative;
}
body{
  background-color: #edf3f8;
}


.MiddleContainer{
  background-color: #D8AC9C ;
  height: 200px;
  width: 200px;

}
.BottomContainer{
  background-color: #C2FFF9 ;
  height: 200px;
  width: 200px;

}
h1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: 'WindSong', cursive;
  font-size: 500%;
  color: #40514E;
}
body {
  margin: 0px;
  margin-bottom: 0px;
  text-align: center;
} 
.mountain{
  width: 98.8vw;
  height: 22.8rem;

}
.top-cloud{
  position: absolute;
  right: 230px;
  top: 50px;
  width: 15rem;
}
.bottom-cloud {
  position: absolute;
  left: 330px;
  bottom: 300px;
  width: 15rem;
}
p {
  
  font-size: 30px;
  margin-top:  1%;
  margin-bottom: 5.5%;
}
.profile>img{
  width:200px;
  height:200px;
  border-radius: 100%;
  margin-top: 18px;
  
}
.profile>h2{
  font-size: 300%;
  color: black;
  font-family: 'Pacifico', cursive;
  margin-bottom:  0px;
}

.skills>h2{
  font-size: 300%;
  
}
   
.skill-row1>img{
  float: left;
  border-radius: 100%;
  height: 200px;
  margin-right: 30px;
}
  
.skill-row1>h3{
  font-size: 200%;
  text-align: left;
  color: red;
  
  
  
}
.skill-row1>p{
  text-align: left;
  line-height: 35px;
  color: #40514E;
}
.skill-row1{
  width: 50%;
  margin: 100px auto 100px auto;
  
  
}
.skill-row2>img{
  float: right;
  border-radius: 100%;
  height: 200px;
  margin-right: 30px;
}
.skill-row2>h3{
  font-size: 200%;
  text-align: left;
  color: red;
  
}
.skill-row2>p{
  text-align: left;
  line-height: 35px;
  color: #40514E;
}
.skill-row2{
  width: 50%;
  margin: 100px auto 100px auto;
}
hr {
  background-color: #dceaf7;
  border-style: dotted none none none;
  width: 10%;
  height: 0px;
  border-width: 11px;
  border-color: #62bbeb;

}
.btn {
  background: #e02645;
  background-image: -webkit-linear-gradient(top, #e02645, #63b7eb);
  background-image: -moz-linear-gradient(top, #e02645, #63b7eb);
  background-image: -ms-linear-gradient(top, #e02645, #63b7eb);
  background-image: -o-linear-gradient(top, #e02645, #63b7eb);
  background-image: linear-gradient(to bottom, #e02645, #63b7eb);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 29px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
 
}

.btn:hover {
  background: #3cfa68;
  background-image: -webkit-linear-gradient(top, #3cfa68, #d934d6);
  background-image: -moz-linear-gradient(top, #3cfa68, #d934d6);
  background-image: -ms-linear-gradient(top, #3cfa68, #d934d6);
  background-image: -o-linear-gradient(top, #3cfa68, #d934d6);
  background-image: linear-gradient(to bottom, #3cfa68, #d934d6);
  text-decoration: none;
}
.bottom-container{
  margin-top: 120px;

}
.footer-link1{
  margin: 20px;
}
.footer-link1>img{
  height: 3em;
}
.footer-link2{
  margin: 20px;
}
.footer-link2>img{
  height: 3em;
}
.footer-link3{
  margin: 20px;
  margin-bottom: 0px;
}
.footer-link3>img{
  height: 3em;
  
  padding-top: 10px;

}
.bottom-container>p{
  font-size: 1.2em;
}
.contact-me>h2{
  color: cadetblue;
  font-size: 2.5em;
  padding-top: 71px;
  
}
.contact-me>h3{
  color: #11999E;
  font-size: 1.75em;
  margin-bottom: 0px;
  
}
.contact-me>p{
  height: 4px;
}
.bottom-container{
  background-color: #58b8be;
  padding: 30px 0 10px;
  margin-bottom: 0px;
  height: 125px;
}
a{
  transition: color 1s;
}
a:hover{
  color: white;

}
.contact-me{
  height: 450px;
}
@media only screen and (max-width:500px){
  .mountain{
    width: 15rem;

  }
  .bottom-cloud{
    left: 1rem;
    width: 8rem;
      
  }
  .top-cloud{
    right: 2rem;
    width: 8rem;
  }
  .contact-me>p{
    padding: 2rem;
  }
}
.sun{
  position: absolute;
  
    top: 20rem;
    width: 17rem;
}
